
/* section 1 and 2 */
main section:nth-of-type(2)>li:nth-of-type(1) {
	font-family: opensans-bold;
}

main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

main svg {
	fill: var(--black);
	stroke: var(--black);
}

main section:nth-of-type(3) ul svg:nth-of-type(1) {
	fill: none;
}

article address a {
	font-family: opensans-regular;
	text-decoration: none;
	font-style: normal;
}

main>section:nth-of-type(1) {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

main > section:nth-of-type(1) img {
	max-width: 100%;
	display: flex;
	margin-bottom: -20%;
	overflow: hidden;
	width: 100%;
}

/* aangepaste code van chatgpt */
main>section:nth-of-type(2) p,
main>ul:nth-of-type(1),
h1 {
	text-align: center;
	align-content: center;
	background-color: var(--white);
	padding: 2rem 1.5rem;
	border-radius: 0.6em;
	width: 70%;
	max-width: 25em;

	margin-top: -1.5em;
	position: relative;
	z-index: 10;
}

main>section:nth-of-type(2) p {
	margin-top: -5em;
}

main section:nth-of-type(2)>ul {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	justify-content: space-evenly;
	padding: 1em;
	font-size: smaller;
	font-weight: bolder;
}

@media (min-width:54em) {
	main>section:nth-of-type(2) p,
	main>ul:nth-of-type(1) {
		text-align: center;
		align-content: center;
		margin-top: 3em;
		background-color: var(--white);
		padding: 1em;
		border-radius: 1.5em;
		width: 100%;
		max-width: 60%;
		gap: 0;
		position: relative;
		z-index: 10;
	}

	h1 {
		margin-top: 5em;
		margin-bottom: 0;
		padding-left: 3.9em;
		padding-right: 3.9em;
		border-radius: 0.3em;
	}

	main > section:nth-of-type(2) p {
		margin-bottom: 0;
		font-size: larger;
		padding: 0;

	}

	main > section:nth-of-type(2) {
		background-color: var(--white);
		border-radius: 2em;
		margin-left: 9em;
		margin-right: 9em;
		border-radius: 0.3em;


	}

	main section:nth-of-type(2) > ul li {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		justify-content: space-evenly;
		padding-top: 2em;
		font-size: medium;
		font-weight: bolder;
		z-index: 10;
		gap: 0;
	}

	main section:nth-of-type(2) a {
		font-family: opensans-bold;
		border-width: medium;
		padding-left: 7em;
		padding-right: 10em;
	}

}

main section:nth-of-type(2) a:hover {
	color: var(--blue);
}

main > section:nth-of-type(1) li {
	display: flex;
	flex-direction: row;
}

main > section:nth-of-type(2) li {
	display: flex;
	flex-direction: row;
}

main section:nth-of-type(2) img {
	display: none;
}

/* section 3 */
main section:nth-of-type(3) {
	border-radius: 2rem;
	border: 0.020rem var(--lightblack);
	margin: 1rem;
	padding: 1rem;
	box-shadow: 0.3em 0.3em 0.9em 0.1em var(--lightgrey);
}

main section:nth-of-type(3) svg {
	padding-right: 1em;
}

main > section:nth-of-type(3) li {
	display: flex;
	flex-direction: row;
}

main>section:nth-of-type(3) img:nth-of-type(1) {
	width: 10em;
}

@media (min-width:54em) {
	main section:nth-of-type(3) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0;
		margin: 6rem;
		}

	main section:nth-of-type(3) svg {
		width: 1.5rem;
	}

	main section:nth-of-type(3) img:nth-of-type(2) {
		display: block;
		width: 100%;
		grid-row: 1 / span 7;
		grid-column-start: 1;
		border-radius: 1.5rem;
	}

	main section:nth-of-type(3) h2,
	main section:nth-of-type(3) p {
		font-size: small;
		margin: 0.5rem;
	}

	main section:nth-of-type(3) svg {
		padding: 0;
	}
}

/* section 4 */

main section:nth-of-type(4) {
	border-radius: 2rem;
	border: 0.020rem var(--lightblack);
	margin: 1rem;
	box-shadow: 0.3em 0.3em 0.9em 0.1em var(--lightgrey);
	display: grid;
	flex-direction: column;
}

main section:nth-of-type(4) h2,
main section:nth-of-type(4) p,
main section:nth-of-type(4) a {
	margin: 1rem
}

main section:nth-of-type(4) a {
	display: inline-block;
	color: var(--blue);
}

main section:nth-of-type(4) img {
	order: -1;
	object-fit: cover;
	display: block;
	width: 100%;
	height: 100%;
}

main section:nth-of-type(4) > ul {
	font-size: medium;
	padding: 0rem;
}


main section:nth-of-type(4) >  a {
	font-family: opensans-bold;
	color: var(--white);
}

section:nth-of-type(4) > a {
	border: none;
	font: inherit;
	padding: 1rem;
	border-radius: 0.9rem;
	background-color: var(--blue);
	cursor: pointer;
	font-size: small;
	display: inline-block;
}

section:nth-of-type(4) > a:hover {
	box-shadow: 0.05 var(--white);
	translate: 0 .5rem;
}

section:nth-of-type(4) > a:focus-visible {
	box-shadow: 1 var(--black);
	translate: 0 -.5rem;
	outline: none;
}

section:nth-of-type(4) > a:active {
	background-color: var(--lightgrey);
	box-shadow: none;
	translate: 0 0;
}

[aria-label="drukknop"] button:active {
	background-color: var(--white);
	box-shadow: none;
	translate: 0 0;
}

@media (min-width:54em) {
	section:nth-of-type(4) {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: start;
		overflow: hidden;
	}

	section:nth-of-type(4) img {
		display: block;
		width: 100%;
		grid-row: 1 / span 3;
		grid-column-start: 1;
		order: 0;
		object-fit: contain;
		padding: 1rem;

	}

	main section:nth-of-type(4) h2,
	main section:nth-of-type(4) p {
		display: block;
		grid-column-start: 2;
		grid-column-end: 3;
	}

	main section:nth-of-type(4) p {
		font-size: medium;
	}

	main section:nth-of-type(4) ul {
		grid-column: 2;
		grid-row: 3;
		display: flex;
		flex-direction: row;
	}

	main section:nth-of-type(4) > a {
		grid-row: 3 / span 3;
		grid-row-start: 3;
	}

	section:nth-of-type(4) svg {
		width: 10%;
	}
}

/* section 5 */
section:nth-of-type(5) h2 {
	font-size: medium;
	margin-left: 2rem;
}

section:nth-of-type(5)>p {
	font-size: medium;
	margin-left: 2rem;
}

section:nth-of-type(5)>ul:nth-of-type(1) {
	font-size: small;
}

section:nth-of-type(5)>ul:nth-of-type(1)>li {
	display: list-item;
	list-style-type: disc;
	line-height: 2rem;
}

section:nth-of-type(5) p>a {
	color: var(--blue);
	text-decoration: underline var(--blue);
}

section:nth-of-type(5) li:nth-of-type(1) a {
	color: var(--blue);
	font-family: opensans-bold;
	font-size: small;
}

section:nth-of-type(5) li:nth-of-type(2) a {
	color: var(--blue);
	font-family: opensans-bold;
	font-size: small;
}

section:nth-of-type(5) article li:nth-of-type(2),
section:nth-of-type(5) article li:nth-of-type(3),
section:nth-of-type(5) article li:nth-of-type(4) {
	border-top: solid var(--lightgrey);
}

section:nth-of-type(5) h3 {
	display: flex;
	align-items: center;
}

section:nth-of-type(5) h3 svg {
	width: 1.5em;
}

section:nth-of-type(5)>ul:nth-of-type(2) {
	border-radius: 1rem;
	border: 0.020rem var(--lightblack);
	margin: 1rem;
	box-shadow: 0.3em 0.3em 0.9em 0.1em var(--lightgrey);
	font-family: opensans-regular;
}

@media(min-width:48em) {
	section:nth-of-type(5) {
		margin: 6rem;
	}

	section:nth-of-type(5) ul:nth-of-type(1) {
		display: flex;
		flex-direction: column;
	}

	section:nth-of-type(5)>ul:nth-of-type(2)>li>a {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
	}

	section:nth-of-type(5)>ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		box-shadow: none;
		border: none;
	}

	section:nth-of-type(5) ul:nth-of-type(2)>li {
		border-radius: 2rem;
		border: 0.020rem gray;
		margin: 2rem;
		padding: 1rem;
		box-shadow: 0.3em 0.3em 0.9em 0.1em gray;
	}

	section:nth-of-type(5)>ul:nth-of-type(2) {
		border-radius: 0;
		border: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		font-family: opensans-regular;
		background: none;
	}

	main{
		gap: 0;
	}
}

section:nth-of-type(5) h3 {
	display: flex;
	align-items: center;
}

section:nth-of-type(5) h3 svg {
	width: 1.5rem;
}