

:root {
	--wit:white;
	--donkergrijs:dimgray;
	--zwart:black;
	--blauw: 
		

}

@font-face {

	font-family: opensans-regular;
	src: url(../fonts/opensans-regular.woff);
}

@font-face {
	font-family: opensans-bold;
	src: url(../fonts/opensans-bold\ .woff);
}

body {
    overflow-x: hidden;
  }

h1,
h2{
	/* display: flex; */
	font-family:opensans-bold;
}

p {
    font-family:opensans-regular;
}

a {
	color: black;
	text-decoration: none;
	font-family:opensans-regular;
}

li {
	list-style-type: none;
}

/* font veranderen */
article address a{
	font-family: opensans-regular;
	text-decoration: none;
}
/* 
section:nth-of-type(1){
	position:relative;
} */

h1{
	/* padding:white; */
	position:absolute;
	font-family: opensans-regular;
	align-items: center;
	
	/* top: 7rem;
	left:5rem; */
	width: 100%;
	font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.2px;
    /* text-align: center;
    line-height: 44px;
    margin: 40px auto 32px;
    padding: 0 20px */
}

/* main img:first-of-type{
	flex-wrap: wrap;
} */

/* section:nth-of-type(1) {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    width: 100%;
} */

nav{
	display: flex;
}

nav img{
	width: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* margin: auto; */
}

nav button{
	border: none;
	padding: 0 0 0 0;
	background: none;

	display:flex;
	justify-content:space-between;
	align-items:center;

	position:sticky;
	top:0;
}

nav a{
	flex-direction: column;
	border: none;
}

nav ul{
	background-color: gray;

	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 11;

	margin:0;
	padding:1em;

	translate: -100%;
}

nav ul.is-open {
	translate: 0%;
}





main > section:nth-of-type(1){
	display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    /* width: 100%; */
 }



main > section:nth-of-type(1) img {
    width: 100%;
	display: flex;
	margin-bottom: -20%;
    /* flex-direction: column-reverse; */
    /* align-items: center; */

}

main > section:nth-of-type(2) p,
main > ul:nth-of-type(1),
h1{
    text-align: center;
	align-content: center;

    background: white;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    width: 80%;
    max-width: 900px;

    margin-top: -60px;
    position: relative;
    z-index: 10;
}

main > section:nth-of-type(2) p{
	margin-left: auto;
	margin-right: auto;
}

section:nth-of-type(2) > ul{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	justify-content: space-evenly;
	padding:1em;
	font-size: smaller;
	font-weight: bolder;
	/* border-bottom-style: solid; */
}

main section:nth-of-type(2) a{
	font-family: opensans-bold;
	border-bottom-style: solid;
	padding-bottom: 1.5em;
	border-width:medium;
}

main section:nth-of-type(2) a:hover {
	color: #005078;
}

/* hoe verander ik de lettertype van alleen deze a element */
main section:nth-of-type(2) > li:nth-of-type(1) {
	font-family: opensans-bold;
}

/* de sectie met h1 kan ik niet selecterem, de tweede sectie met h2 wordt mee veranderd */
/*  heb de eerste foto verlaagd */

main section:nth-of-type(3){
	/* background-color:violet; */
	border-radius: 2rem;
	border: 0.020rem gray;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 20px 2px gray;
 }

 main section:nth-of-type(3) svg{
	padding-right: 1rem;
	padding-left: -10rem;
 }

 main li{
	display: flex;
	flex-direction:row;
 }

 .visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }


main section:nth-of-type(2) img{
	display: none;
}


section img:first-of-type{
	width: 100%;
  }


  img p :nth-of-type(3){
	display: flex;
	justify-content: space-around;
  }




  
main section:nth-of-type(4) {
	/* background-color: chocolate; */
	border-radius: 2rem;
	border: 0.020rem gray;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 20px 2px gray;
}

main section:nth-of-type(4) > ul{
	display: flex;
	flex-direction: row;
	font-size: normal;
	gap: 30%;
}

main section:nth-of-type(4) button a {
	font-family: opensans-bold;
	color: white;
}

section:nth-of-type(4) button{
	margin: auto;

	border: none;
	font: inherit;
	padding: 1em 2em 1em 2em;
	border-radius: 0.9em;
	background-color: #005078;
	cursor: pointer;
}

section:nth-of-type(4) button:hover{
	box-shadow: 0. 05 var(--white);
	translate: 0 -.25em;
}



section:nth-of-type(4) button:focus-visible{
	box-shadow: 0 .5em var(--zwart);
	translate: 0 -.5em;

	outline: none;
}

section:nth-of-type(4) button:active{
	background-color: var(--lichtgrijs);
	box-shadow: none;
	translate: 0 0;
}


[aria-label="drukknop"] button:active {

	background-color: white;
	box-shadow:none;
	translate:0 0;
}





section:nth-of-type(5) h3 {
	display:flex;
	align-items:center;
}

section:nth-of-type(5) h3 svg {
	width:1.5em;
}

section:nth-of-type(5) >ul {
	/* background-color:violet; */
	border-radius: 2rem;
	border: 0.020rem gray;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 20px 2px gray;
	font-family: opensans-regular;
}

section:nth-of-type(5) h3 {
	display:flex;
	align-items:center;
}

section:nth-of-type(5) h3 svg{
	width:1.5;
}





















footer{
	background-color: black;
}

footer img{
	width: 20%;
}

footer h2, footer a{
	color: white;
}

/* footer section{
	display: flex;
	flex-direction: row;
} */



  @media (min-width:38em) {
	nav {

		order: 0;

	}

	main section:nth-of-type(2) img{
		display: block;
	}
}

@media (min-width:54em) {
	header > a:last-of-type,
	nav a {
	  flex-direction:row;
	}
	
  }


