

:root {
	--wit:white;
	--donkergrijs:dimgray;
	--zwart:black;
	--blauw: 
}

@font-face {

	font-family: opensans-regular;
	src: url(../fonts/opensans-regular.woff);
}

@font-face {
	font-family: opensans-bold;
	src: url(../fonts/opensans-bold\ .woff);
}

body {
    overflow-x: hidden;
  }

 main{
	display: flex;
	flex-direction: column;
	gap: 2em;
}

h1,
h2{
	/* display: flex; */
	font-family:opensans-bold;
}

p {
    font-family:opensans-regular;
}

a {
	color: black;
	text-decoration: none;
	font-family:opensans-regular;
}

li {
	list-style-type: none;
}

/* font veranderen */
article address a{
	font-family: opensans-regular;
	text-decoration: none;
	font-style: normal;
}
/* 
section:nth-of-type(1){
	position:relative;
} */

h1{
	/* padding:white; */
	position:absolute;
	font-family: opensans-regular;
	align-items: center;
	
	/* top: 7rem;
	left:5rem; */
	width: 100%;
	font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.2px;
    /* text-align: center;
    line-height: 44px;
    margin: 40px auto 32px;
    padding: 0 20px */
}


header{
	display: flex;
}

header img{
	width: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* margin: auto; */
}



nav button{
	border: none;
	padding: 0 0 0 0;
	background: none;

	/* display:flex;
	justify-content:space-between;
	align-items:center; */

	position:sticky;
	z-index: 12;
	top:0;
}

nav a{
	/* display: grid;
	grid-template-columns: 1fr;
	display: flex;
	flex-direction: column;
	border: none; */
	color: aliceblue;
	font-size: x-large;
}


nav ul{
	background-color: gray;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 11;
	margin:0;

	translate: -100%;

	padding-top: 3em;
	padding-left: none;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

nav li a{
	display: inline;
	border: 0.09em solid black;
	
}

nav ul.is-open {
	translate: 0%;
}
/* 
nav ul{
	display: grid;
	grid-template-columns: 1fr ;
	
} */

/* nav ul li a{
	color: aliceblue;
	gap: 2em;
} */

main > section:nth-of-type(1){
	display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    /* width: 100%; */
 }



main > section:nth-of-type(1) img {
    width: 100%;
	display: flex;
	margin-bottom: -20%;
    /* flex-direction: column-reverse; */
    /* align-items: center; */

}

main > section:nth-of-type(2) p,
main > ul:nth-of-type(1),
h1{
    text-align: center;
	align-content: center;

    background: white;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    width: 80%;
    max-width: 900px;

    margin-top: -90px;
    position: relative;
    z-index: 10;
}

main > section:nth-of-type(2) p{
	margin-left: auto;
	margin-right: auto;
}

section:nth-of-type(2) > ul{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	justify-content: space-evenly;
	padding:1em;
	font-size: smaller;
	font-weight: bolder;
}

main section:nth-of-type(2) a{
	font-family: opensans-bold;
	border-bottom-style: solid;
	padding-bottom: 1.5em;
	border-width:medium;
}

main section:nth-of-type(2) a:hover {
	color: #005078;
}

/* hoe verander ik de lettertype van alleen deze a element */
main section:nth-of-type(2) > li:nth-of-type(1) {
	font-family: opensans-bold;
}

/* de sectie met h1 kan ik niet selecterem, de tweede sectie met h2 wordt mee veranderd */
/*  heb de eerste foto verlaagd */

main section:nth-of-type(3){
	/* background-color:violet; */
	border-radius: 2rem;
	border: 0.020rem gray;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 20px 2px gray;
 }

 main section:nth-of-type(3) svg{
	padding-right: 1rem;
 }

 main li{
	display: flex;
	flex-direction:row;
 }

 .visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }


main section:nth-of-type(2) img{
	display: none;
}


section img:first-of-type{
	width: 100%;
  }


img p :nth-of-type(3){
	display: flex;
	justify-content: space-around;
 }



@media (min-width:54em) {
	section:nth-of-type(3) >  section:nth-of-type(1),
	section:nth-of-type(3) >  section:nth-of-type(2){
		display: flex;
		flex-direction: row;
	 }

	 section:nth-of-type(3) > section:nth-of-type(2) img{
		width: 50%;
	 }	

	 section:nth-of-type(3) > section:nth-of-type(1) img{
		width: 20%;
	 }
}


/* main section:nth-of-type(4) > h2,
main section:nth-of-type(4) > img{
	display: flex;
	flex-direction: column
} */
  
main section:nth-of-type(4) {
	/* background-color: chocolate; */
	border-radius: 2rem;
	border: 0.020rem gray;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 20px 2px gray;
	
}

/* werkt niet */
main section:nth-of-type(4) img,
main section:nth-of-type(4) h2 {
	display: flex;
	flex-direction: column-reverse;
}


main section:nth-of-type(4) > ul{
	display: flex;
	flex-direction: row;
	font-size: medium;
	gap: 30%;
}

main section:nth-of-type(4) button a {
	font-family: opensans-bold;
	color: white;
}

section:nth-of-type(4) button{
	margin: auto;
	border: none;
	font: inherit;
	padding: 1em 2em 1em 2em;
	border-radius: 0.9em;
	background-color: #005078;
	cursor: pointer;
}

section:nth-of-type(4) button:hover {
	box-shadow: 0.05 var(--white);
	translate: -.25em;
}

section:nth-of-type(4) button:focus-visible {
	box-shadow: 0.5 var(--zwart);
	translate: 0 -.5em;
	outline: none;
}

section:nth-of-type(4) button:active{
	background-color: var(--lichtgrijs);
	box-shadow: none;
	translate: 0 0;
}


[aria-label="drukknop"] button:active {
	background-color: white;
	box-shadow:none;
	translate:0 0;
}



section:nth-of-type(5) h2{
	font-size: medium;
	margin-left: 2em;
	
}

section:nth-of-type(5) > p {
	font-size: medium;
	margin-left: 2em;
}

section:nth-of-type(5) > ul:nth-of-type(1){
	font-size: small;
}

section:nth-of-type(5) > ul:nth-of-type(1) > li{
	display: flex;
	flex-direction: column;
	background-color: slateblue;
	list-style-type: circle
	/* list-style-type: disc; */
}

/* section:nth-of-type(5) > ul:nth-of-type(1) > li:nth-of-type(1){
	list-style-type: circle;
} */


section:nth-of-type(5) h3 {
	display:flex;
	align-items:center;
}

section:nth-of-type(5) h3 svg {
	width:1.5em;
}

section:nth-of-type(5) >ul:nth-of-type(2) {
	/* background-color:violet; */
	border-radius: 2rem;
	border: 0.020rem gray;
	margin: 1rem;
	padding: 1rem;
	/* gap: 2em; */
	box-shadow: 1px 1px 20px 2px gray;
	font-family: opensans-regular;
}


@media(min-width:48em) {
	section:nth-of-type(5) > ul:nth-of-type(2) > li > a{
		padding: 0;
		border-radius: 0;
		color: aquamarine;
		box-shadow: none;
		/* margin: none; */
	}

	section:nth-of-type(5) >ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em;
		box-shadow: none;
	}

	section:nth-of-type(5) ul:nth-of-type(2) > li {
		border-radius: 2rem;
		border: 0.020rem gray;
		margin: 1rem;
		padding: 1rem;
		box-shadow: 1px 1px 20px 2px gray;
	}

	section:nth-of-type(5) >ul:nth-of-type(2) {
		border-radius: none;
		border: none;
		margin: none;
		padding: none;
		box-shadow: none;
		font-family: opensans-regular;
	}
	
}


section:nth-of-type(5) h3 {
	display:flex;
	align-items:center;
}

section:nth-of-type(5) h3 svg{
	width: 1.5em;
}












footer h2 {
	font-family: openssans-bold;
	font-size: medium;
}

footer a,
footer p{
	font-family: opensans-regular;
	font-size: small;
}

footer{
	background-color: black;
	width: 100%;
}

footer img{
	width: 20%;
}

footer h2, 
footer a,
footer p{
	color: white;
}

div{
	display: grid;
	grid-template-columns: 2fr 2fr;
	/* grid-template-rows: auto; */
	gap: 5em;
}

div section:nth-of-type(1){
	grid-row: 1/ span 2 ;
}
div section:nth-of-type(3){
	grid-row: 1/ span 1;
}

footer ul:nth-of-type(3) > a{
	display: flex;
	flex-direction: row;
}
 


/* 
display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;        
    align-items: start;
} */

/* footer section {
	display: flex;
	flex-direction: column;
} */

/* footer {
	display: flex;
	flex-direction: row;
} */


/* footer section{
	display: flex;
	flex-direction: row;
} */



  @media (min-width:38em) {
	nav {
		order: 0;
	}

	main section:nth-of-type(2) img{
		display: block;
	}
}

@media (min-width:54em) {
	header > a:last-of-type,
	nav a {
	  flex-direction:row;
	}

	
	
  }



/* gap tussen de sections check  */
/* responive our commitments, in articles zetten? */
/*  tekst bruegr menu kan niet worden gewijzigd check */
 /* kan ik artcile gebruiken bij footer? om te stijlen check*/
 /*  list style punten terig op a elememt */
