:root {
	--white: white;
	--lightgrey: lightgray;
	--darkgrey: #4A4F55;
	--lightblack: #2A2A2A;
	--black: black;
	--bg: white;
	--blue: #005078;
	--hover: lightskyblue;
}


@media (prefers-color-scheme: dark) {
	:root {
		--white: black;
		--blue: darkturquoise;
		--hover: lightskyblue;
		--black: white;
		--lightgrey: lightgray;
		--darkgrey: #4A4F55;
		--lightblack: #2A2A2A;
	}
}

main svg{
    fill: var(--black);
}

main > section:nth-of-type(1) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

main section:nth-of-type(2) {
    border-bottom-style: solid;
    border-width: medium;
    margin-top: -1em;
}

main svg{
   stroke: var(--blue);
}

main > section:nth-of-type(2) p{
	margin-top: -5em;
}

section:nth-of-type(2) > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    font-size: smaller;
    font-weight: bolder;
    gap: 5em;
}

section:nth-of-type(2) > ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}

main section:nth-of-type(2) a {
    font-family: opensans-bold;
    transition: .2s;
}

main section:nth-of-type(2) a:hover {
    color: var(--blue);
}

main section:nth-of-type(1) img {
    width: 100%;
}

/* section 3 */
/* img elemten boven de h2 zetten*/
main section:nth-of-type(3) img {
    width: 100%;
    order: -1;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

main section:nth-of-type(3) {
    font-size: small;
    display: grid;
    flex-direction: column;
    border-radius: 1rem;
    border: 0.020rem var(--black);
    margin: 1rem;
    padding: 0rem;
    box-shadow: 0.3em 0.3em 0.9em 0.1em var(--lightgrey);
}

main section:nth-of-type(3) h2,
main section:nth-of-type(3) p,
main section:nth-of-type(3) a,
main section:nth-of-type(3) button {
    padding-left: 1em;
    padding-right: 1em;

}

main section:nth-of-type(3) button a {
    font-family: opensans-bold;
    color: var(--white);
}

section:nth-of-type(3) button {
    margin: auto;
    border: none;
    font: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.9em;
    background-color: var(--blue);
    cursor: pointer;
    margin-left: -0.2em;
    font-size: small;

    display: inline-block;
    width: auto;
    margin-right: 8em;
    margin-left: 1em;
    margin-bottom: 1em;
}

section:nth-of-type(3) button:hover {
    box-shadow: 0.05em var(--white);
    translate: 0 .5em;
}

section:nth-of-type(3) button:focus-visible {
    translate: 0 -.5em;
    outline: none;
}

section:nth-of-type(3) button:active {
    background-color: var(--lightgrey);
    box-shadow: none;
    translate: 0 0;
}


[aria-label="drukknop"] button:active {
    background-color: var(--white);
    box-shadow: none;
    translate: 0 0;
}

@media (min-width:54em) {
    section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        gap: 0;
        padding: 1em;
        overflow: hidden;
        margin: 6em;
        padding: 1em;
    }

    section:nth-of-type(3) img {
        display: block;
        width: 20em;
        grid-row: 1 / span 3;
        grid-row-start: 1;
        order: 0;
        object-fit: none;
        padding: 1em;
    }

    main section:nth-of-type(3) h2,
    main section:nth-of-type(3) p,
    main section:nth-of-type(3) a {
        display: block;
        grid-column-start: 2;
        margin-left: 2em;
    }

    main section:nth-of-type(3) h2 {
        font-size: x-large;
        padding: 0em;
        margin-left: 1.5em;
    }

    main section:nth-of-type(3) button {
        padding-left: 1em;
        padding-right: 3em;
        margin-left: 3em;
        margin-right: auto;
    }
}

/* section 4 */
main section:nth-of-type(4){
    padding: 1em;
    display: grid;
    box-sizing: border-box;
}

main section:nth-of-type(4) h2{
    font-size: large;
}

main section:nth-of-type(4) p,
main section:nth-of-type(4) li a{
    font-size: 85%;
}

main section:nth-of-type(4) img{
    border-radius: 1em;
    width: 100%;
    order: -1;
}

@media (min-width:54em) {
    main section:nth-of-type(4) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 0;
        padding: 1em;
        overflow: hidden;
        margin: 6em;
        padding: 1em;
    }

    main section:nth-of-type(4) img{
        grid-column: 2 / span 2;
        grid-row: 1 / span 4;
        display: block;
        width: 60%;
        margin-left: 5em;
    }

    main section:nth-of-type(4) h2,
    main section:nth-of-type(4) p,
    main section:nth-of-type(4) li a{
        display: block;
        grid-column-start: 1;
    }

    main section:nth-of-type(4) h2{
        font-size: xx-large;
    }

    main section:nth-of-type(4) p,
    main section:nth-of-type(4) li a{
        font-size: medium;
    }
}

/* section 5 */
article {
    display: flex;
    flex-direction: column;
    border: solid var(--black);
    border-radius: 1rem;
    border: 0.020rem var(--lightblack);
    margin: 1rem;
    padding: 0em;
    box-shadow: 0.3em 0.3em 0.9em 0.1em  var(--lightgrey);
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    box-sizing: border-box;
    overflow: hidden;
}

article img {
    width: 20em;
    order: -1;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0em;
}

article h3,
article p,
article li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

article li {
    padding-bottom: 2em;
}

main section:nth-of-type(5) ul {
    padding: 0;
    display: flex;
    overflow: scroll;
    gap: 1rem;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    width: 100%;
}

main section:nth-of-type(5) ul li {
    scroll-snap-align: center;
}


main section:nth-of-type(5) ul {
    padding: 0;
    display: flex;
    overflow: scroll;
    scroll-snap-type:mandotary;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

@media (min-width:54em) {
    main section:nth-of-type(5){
        margin-left: 6em;
        padding: 0em;
    }
}