

h1 {
    position: absolute;
    font-family: opensans-regular;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

main>section:nth-of-type(1) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

main section:nth-of-type(2) {
    border-bottom-style: solid;
    border-width: medium;
    margin-top: -1em;
}


/* tweedep */
/* main > section:nth-of-type(2) p,
main > ul:nth-of-type(1),
h1 {
	text-align: center;
	align-content: center;

	background: white;
	padding: 2rem 1.5rem;
	border-radius: 0.6em;
	width: 80%;
	max-width: 25em;

	margin-top: -2.5em;
	position: relative;
	z-index: 10;
} */
main > section:nth-of-type(2) p,
main > ul:nth-of-type(1),
h1 {
	text-align: center;
	align-content: center;

	background: white;
	padding: 2rem 1.5rem;
	border-radius: 0.6em;
	width: 70%;
	max-width: 25em;

	margin-top: -1.5em;
	position: relative;
	z-index: 10;
}

main > section:nth-of-type(2) p{
	margin-top: -5em;
}

/* main>section:nth-of-type(2) p {
    padding-left: 0.5em;
} */

/* tweede svg nav */
section:nth-of-type(2) > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 1em;
    font-size: smaller;
    font-weight: bolder;
}

section:nth-of-type(2) > ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

main section:nth-of-type(2) a {
    font-family: opensans-bold;
}

main section:nth-of-type(2) a:hover {
    color: #005078;
}



main section:nth-of-type(1) img {
    width: 100%;
}

/* picture elemten boven de h2 zetten*/
main section:nth-of-type(3) img {
    width: 100%;
    order: -1;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

}

main section:nth-of-type(3) picture {
    order: -1;
}

main section:nth-of-type(3) {
    font-size: small;
    display: grid;
    flex-direction: column;
    border-radius: 1rem;
    border: 0.020rem var(--lichtzwart);
    margin: 1rem;
    padding: 0rem;
    box-shadow: 1px 1px 20px 2px var(--lichtgrijs);
}

main section:nth-of-type(3) h2,
main section:nth-of-type(3) p,
main section:nth-of-type(3) a,
main section:nth-of-type(3) button {
    padding-left: 1em;
    padding-right: 1em;

}

main section:nth-of-type(3) button a {
    font-family: opensans-bold;
    color: white;
}

section:nth-of-type(3) button {
    margin: auto;
    border: none;
    font: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.9em;
    background-color: #005078;
    cursor: pointer;
    margin-left: -0.2em;
    font-size: small;

    display: inline-block;
    width: auto;
    margin-right: 8em;
    margin-left: 1em;
    margin-bottom: 1em;
    /* padding-left: 0;
    padding-right: 0; */
}

section:nth-of-type(3) button:hover {
    box-shadow: 0.05 var(--white);
    translate: 0 .5em;
}

section:nth-of-type(3) button:focus-visible {
    box-shadow: 1rem var(--zwart);
    translate: 0 -.5em;
    outline: none;
}

section:nth-of-type(3) button:active {
    background-color: var(--lichtgrijs);
    box-shadow: none;
    translate: 0 0;
}


[aria-label="drukknop"] button:active {
    background-color: white;
    box-shadow: none;
    translate: 0 0;
}

@media (min-width:54em) {
    section:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* grid-template-rows: auto 1fr auto; */
        align-items: start;
        gap: 0;
        padding: 1em;
        overflow: hidden;
        margin: 6em;
        padding: 1em;
    }

    section:nth-of-type(3) img {
        display: block;
        width: 20em;
        /* height: auto; */
        grid-row: 1 / span 3;
        grid-row-start: 1;
        order: 0;
        object-fit: none;
        padding: 1em;
    }

    main section:nth-of-type(3) h2,
    main section:nth-of-type(3) p,
    main section:nth-of-type(3) a {
        display: block;
        grid-column-start: 2;
        margin-left: 2em;
    }

    main section:nth-of-type(3) h2 {
        font-size: x-large;
        padding: 0em;
        margin-left: 1.5em;
    }

    main section:nth-of-type(3) button {
        padding-left: 1em;
        padding-right: 3em;
        margin-left: 3em;
        margin-right: auto;
    }
}






main section:nth-of-type(4){
    padding: 1em;
    display: grid;
    box-sizing: border-box;
}

main section:nth-of-type(4) h2{
    font-size: large;
}

main section:nth-of-type(4) p,
main section:nth-of-type(4) li a{
    font-size: 85%;
}

main section:nth-of-type(4) img{
    border-radius: 1em;
    width: 100%;
    order: -1;
}

@media (min-width:54em) {
    main section:nth-of-type(4) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 0;
        padding: 1em;
        overflow: hidden;
        margin: 6em;
        padding: 1em;
    }

    main section:nth-of-type(4) img{
        grid-column: 2 / span 2;
        grid-row: 1 / span 4;
        display: block;
        width: 60%;
        margin-left: 5em;
    }

    main section:nth-of-type(4) h2,
    main section:nth-of-type(4) p,
    main section:nth-of-type(4) li a{
        display: block;
        grid-column-start: 1;
        /* grid-row: 1; */
    }

    main section:nth-of-type(4) h2{
        font-size: xx-large;
    }

    main section:nth-of-type(4) p,
    main section:nth-of-type(4) li a{
        font-size: medium;
    }
}









article {
    /* font-size: small; */
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 1rem;
    border: 0.020rem var(--lichtzwart);
    margin: 1rem;
    padding: 0em;
    box-shadow: 1px 1px 20px 2px var(--lichtgrijs);
    display: flex;
    flex-direction: column;
    /* line-height: 1.2; */
    font-size: 0.75rem;
    box-sizing: border-box;
    overflow: hidden;

}


article img {
    width: 20em;
    order: -1;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0em;
}

article h3,
article p,
article li {
    padding-left: 0.5em;
    padding-right: 0.5em;
    /* padding: auto; */
}

article li {
    padding-bottom: 2em;
}

main section:nth-of-type(5) ul {
    padding: 0;
    /* flex-shrink: 0;
    flex-basis: 100%; */
    display: flex;
    overflow: scroll;
    gap: 1rem;
    scroll-snap-type: x-mandatory;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    width: 100%;
}

main section:nth-of-type(5) ul li {
    scroll-snap-align: center;
}


main section:nth-of-type(5) ul {
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    display: flex;
    overflow: scroll;
    scroll-snap-type: x-mandotary;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}


@media (min-width:54em) {
    main section:nth-of-type(5){
        margin-left: 6em;
        padding: 0em;
    }
}











@media (min-width:54em) {
	nav {
		order: 0;
	}

	main section:nth-of-type(2) img{
		display: block;
	}
}

@media (min-width:54em) {
	header > a:last-of-type,
	nav a {
	  flex-direction:row;
	}
}